
.warpper{
    display: block;
    background-color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px 35px;
}
.contant{
    background-color:white;
    padding: 20px;
    width: 100%;
    height: 85vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.heandcontantdata {
    padding-bottom: 20px;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.heandpagedata {
    color: white;
    background-color: #334756;
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.heandpagedata.addEvent{
    margin-left: 20px;
} 
.heandpagedata.addEvent a{
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 18px;
    background-color: #9D9D9D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
} 
.heandpagedata.addEvent a:hover {
    font-size: 20px;
    background-color: #F0A500;
}

.eventRequestHistory{
    height: 87%;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar {
    display: none;
}


.table-data {
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.requestEvent-item {
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 1.5fr 0.8fr 0.8fr 0.8fr;
    gap: 10px;
    text-align: center;
}

.title-name {
    border: 3px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.requestEvent-itemtr {
   height: 100%;
   overflow-x: scroll;
}

.filterPage.request {
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

.filter.request {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    height: 80%;
    padding: 25px 0;
}

.filter-item.request {
    width: 100px;
    background-color: #F0A500;
    border-radius: 10px;
    text-align: center;
    padding: 5px 0;
    color: #ffff;
}

.filter-item.request a {
    width: 100px;
}

.filter-item.allrequest {
    background-color: #ffff;
    color: #000;
    border: 1px solid #000;
}

.paganav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

/* .ant-pagination-item-active {
    border-color: #000;
    color: #F0A500;
    background-color: #9D9D9D;
}

.paginationEventrequest{
    color: #000;
} */

