.place-form-box{
    height: 75vh;
    width: 85%;
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 10px;
    text-align: center;
    overflow: auto;
}

.place-top-form{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 20px;
}

.place-form-box label{
    display: block;
    margin: auto;
    width: 200px;
    font-size: 1.2em;
    color: white;
}

.place-form-box input {
    font-size: 1em;
    width: 250px;
    height: 40px;
    padding: 0px 20px;
    border-radius: 10px;
    border: 0px;
    text-align: center;
    margin: 20px 20px;
}

.place-form-box select{
    font-size: 1em;
    width: 250px;
    height: 40px;
    padding: 0px 20px;
    border-radius: 10px;
    border: 0px;
    text-align: center;
    margin: 20px 20px;
    background-color: white;
}

.calender{
    width: 50%;
    height: 200px;
    overflow: auto;
    background-color: orange;
    border-radius: 20px;
    margin: auto;
    display: block;
}

.comment label{
    margin-right: 70%;
    display: flex;
}
.comment textarea{
    font-size: 1.3em;
    width: 65%;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
}

.side-button{
    display: flex;
    padding: 20px;
    height: 100%;
    float: left;
}

.side-button button{
    font-size: 1.1em;
    width: 170px;
    height: 40px;
    background-color: orange;
    border: 0px;
    border-radius: 15px;
}

.side-button button:hover{
    font-weight: bold;
}

.place-form-button .submit_button{
    width: max-content;
}