.monkPage {
  display: grid;
  grid-template-columns: 20% auto;
  height: 90vh;
}

.monkTop {
  display: grid;
  grid-template-columns: 35% 20% 20% auto;
  justify-content: center;
  margin-top: 5%;
}

.monkTop input {
  display: flex;
  text-align: center;
  width: 90%;
  height: 30px;
}

.monkButton {
  display: flex;
  align-items: end;
}

.monkButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-top: 10%;
}

.monkButton button:hover {
  border: none;
  background-color: #f9d11f;
}

.monkTable {
  display: flex;
  justify-content: center;
  padding: 10%;
}

.monkTable th {
  padding: 10px;
  background-color: rgb(180, 180, 180);
}

.monkTable th:hover {
  background-color: rgb(117, 117, 117);
}

.monkTable td {
  padding: 10px;
  background-color: rgb(223, 223, 223);
}

.monkTable td:hover {
  background-color: rgb(175, 175, 175);
}

.monkTable button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd900;
  border: none;
  width: 70px;
  height: 42px;
}

.monkTable button:hover {
  background-color: #ff5500;
}
