.warpperEvent.details {
    background-color: #ffff;
    height: 100%;
    width: 100%;
    padding: 30px 30px;
}
.contantEvent.details{
    height: 95%;
    width: 100%;
}
.datatitle {
    width: 100% auto;
    height: 8vh;
    background-color: #082032;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.requestEvent-detail{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 40px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #D9D9D9;
    overflow: scroll;
}
.datatitle.nameEvent{
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    color: #000;
    height: 5vh;
}
.title-namedata {
    padding: 10px 10px 10px 0;
    font-weight: 600;
}

.detail-data{
    padding: 5px 5px 5px 30px;
}

.hostsName{
    display: grid;
    grid-template-columns:1fr 1fr;
}

.formNote{
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    color: #000;
    height: 10%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}
.note{
    width: 8%;
    padding: 15px;
}
.noteData{
    width: 92%;
    height: 100%;
}

.filterPage {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.filterdetail {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
}

.filter-item {
    width: 100px;
    background-color: #F0A500;
    border-radius: 10px;
    text-align: center;
    padding: 5px 0;
    color: #ffff;
}

.filter-item a {
    width: 100px;
}

.filter-item.all {
    background-color: #ffff;
    color: #000;
    border: 1px solid #000;
}

.paganav {
    padding: 15px;
}
.filter-item.notApprov {
    background-color: #334756;
    color: #ffff;
    border: 1px solid #000;

}
.statusEvent-data{
    color: #F0A500;
    padding-left: 10px;
}