.login-box{
    width: max-content;
    height : max-content;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.login-box form{
    margin: 50px;
    font-size: 2vh;
}

.login-box-picture{
    padding: 15px;
    width: auto;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.login-box-picture .word{
    margin-top: auto;
    font-size: 2vh;
}

.login-box-picture .word1{
    margin-top: 10px;
    font-size: 1.5vh;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    margin: 35px 0;
    border-bottom: 2px solid orange;
}

.input-box label {
    position: absolute;
    left : 5px;
    transform: translateY(-50%);
    font-size: 2vh;
    color: black;
    pointer-events: none;
    font-weight: bold;
}

.input-box input{
    width: 100%;
    height: auto;;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5em;
    margin: 10px 0px;
    color: black;
    padding: 0px 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    bottom: 12px;
}

.remember-forgot{
    margin: 15px 0px 20px;
    font-size: 2vh;
    color: orange;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    margin-right: 3px;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
    font-weight: bold;
}



.login-link {
    font-size: 2vh;
    color: orange;
    text-align: center;   
    padding: 10px;
}

.login-link button{
    font-size: 2.5vh;
    border: 0px;
    background-color: white;
}

.login-link a{
    text-decoration: none;
    color: black;
}

.login-link a:hover {
    text-decoration: underline;
    font-weight: bold;
}

@media (max-width: 950px ){
    .login-box{
        width: max-content;
        height: max-content;
        justify-content: center;
    }
    .login-box-picture{
        display: none;
    }
}

.submit_button {
    width: 100%;
    height: auto;
    background: orange;
    border-radius: 40px;
    cursor: pointer;
    border: 0px;
    font-size: 2vh;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.submit_button:hover{
    font-weight: bold;    
}
