.generalPage {
  display: grid;
  grid-template-columns: 20% auto;
  height: 90vh;
}

.general {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  margin-top: 20px;
}

.general input {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 30px;
}

.general textarea {
  display: flex;
  text-align: center;
  width: 250px;
  height: 130px;
}

.general select {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.general select {
  display: flex;
  text-align: center;
  width: 250px;
  height: 30px;
}

.generalButton {
  display: flex;
  justify-content: end;
}

.generalButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-top: 5%;
  margin-right: 10%;
}

.generalButton button:hover {
  border: none;
  background-color: #f9d11f;
}
