::-webkit-scrollbar {
    display: none; 
  }


.middle-box{
    width: 80vh;
    height: auto;
    font-size: 4vh;
    background-color: transparent;
    backdrop-filter: blur(15px);
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.middle-box div{
    margin: 2vh;
    color: white;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input{
    font-size: 2vh;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    border: 0px;
    margin: 10px;
}

.search-bar input:valid{
    width: 50%;
    transition: .5s;
}
.search-bar input:focus{
    width: 100%;
    transition: .5s;
}

.search-bar button{
    font-size: 0.5em;
    width: 8vh;
    height: 4.5vh;
    border: 0px;
    background-color: orange;
    border-radius: 10px;
}

.search-bar button:hover{
    font-weight: bold;
}

.search-bar .icon{
    width: 4vh;
    height: auto;
}

.show-result-box{
    width: 130vh;
    height: 800px;
    background-color: transparent;
    display: flex;
    margin: 20px 0px;
    backdrop-filter: blur(15px);
    border-radius: 20px;
}