.itemPage {
  display: grid;
  grid-template-columns: auto auto;
}

.item {
  display: grid;
  align-content: center;
  justify-content: center;
}
.item label {
  display: flex;
}

.item button {
  width: 100%;
  height: 30px;
}
