.background {
    background-color: #bdbdbd;
    width: 100vw; /* กว้างเท่ากับหน้าจอ */
    height: 100vh; /* สูงเท่ากับหน้าจอ */
  }

  /* --------------------------- Code Content By MeanGPT ----------------------------------- */
  .content { /* Box รายการสิ่งของ */
    position: relative;
    background-color: white;
    margin-top: -80px;
    margin-left: 30px;
    height: 510px;
    width: 1480px;
  }

  .head-content {
    position: relative;
    background-color: #334756;
    margin-top: 110px;
    height: 60px;
    width: 1480px;
    color: white;
  }

  .head-content b {
    position: relative;
    top: 18px;
    margin-left: 20px;
  }

  .text-long {
    position: relative;
    top: 10px;
    margin-left: 860px;
    color: #334756;
  }

  #fontred1 {
    color: red;
    text-decoration: underline;
  }

  #fontred2 {
    color: red;
  }

  #fontblack {
    text-decoration: underline;
  }

  .textHead1 {
    display: flex;
    margin-left: 40px;
    margin-top: -25px;
  }

  .textHead1 .textHeadShow {
    position: relative;
    top: 30px;
    left: -60px;
    cursor: pointer;
    text-align: center;
  }

  .textHeadShow1 {
    transform: translateY(40%);
  }
  
  .textHead2 {
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
  }
  
  .textHead2 input {
    position: relative;
    top: 30px;
    left: -57px;
    cursor: pointer;
    text-align: center;
  }
  
  .textHead3 {
    display: flex;
    margin-left: 600px;
    margin-top: -40px;
  }
  
  .textHead3 input {
    position: relative;
    top: 30px;
    left: -81px;
    cursor: pointer;
    text-align: center;
  }
  
  .textHead4 {
    display: flex;
    margin-left: 1100px;
    margin-top: -40px;
  }
  
  .textHead4 input {
    position: relative;
    top: 30px;
    left: -50px;
    cursor: pointer;
    text-align: center;
  }
  
  #colorBox input {
    border: 0px solid #D9D9D9;
    border-radius: 10px;
    background-color: #D9D9D9;
    height: 40px;
    width: 280px;
  }

  #colorBoxShow {
    border: 0px solid #D9D9D9;
    border-radius: 10px;
    background-color: #D9D9D9;
    height: 40px;
    width: 280px;
    text-align: center;
  }
  
  .listItem {
    margin-left: 40px;
    margin-top: 60px;
  }
  
  .boxList {
    position: relative;
    margin-top: 10px;
    margin-left: 40px;
    background-color: #ffffff;
    height: 200px;
    width: 1400px;
  }
  
  /* --------------------------- Code (Head) Box List By MeanGPT ----------------------------------- */
  
  .codeItem {
    border: 3px solid #D9D9D9;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    width: 250px;
    height: 35px;
  }
  
  .nameItem {
    border: 3px solid #D9D9D9;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    width: 550px;
    margin-left: 300px;
    margin-top: -205px;
    height: 35px;
  }
  
  .yItem {
    border: 3px solid #D9D9D9;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    margin-left: 900px;
    margin-top: -205px;
    height: 35px;
  }
  
  .kItem {
    border: 3px solid #D9D9D9;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    margin-left: 1150px;
    margin-top: -205px;
    height: 35px;
  }
  
  /* --------------------------- Code (in) Box List By MeanGPT ----------------------------------- */
  .box-codeItem {
    border: 3px solid #D9D9D9;
    margin-bottom: 10px;
    padding: 5px;
    width: 250px;
    height: 150px;
  }
  
  .box-nameItem {
    border: 3px solid #D9D9D9;
    margin-bottom: 10px;
    padding: 5px;
    width: 550px;
    margin-left: 300px;
    margin-top: 0px;
    height: 150px;
  }
  
  .box-yItem {
    border: 3px solid #D9D9D9;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    margin-left: 900px;
    margin-top: 0px;
    height: 150px;
  }
  
  .box-kItem {
    border: 3px solid #D9D9D9;
    margin-bottom: 10px; /* don't use*/
    padding: 5px;
    width: 200px;
    margin-left: 1150px;
    margin-top: 0px;
    height: 150px;
  }
  
  /* --------------------------- Code (in-in) Box List By MeanGPT ----------------------------------- */

  .code-codeItem input {
    margin-top: 1px;
    border: none;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
    width: 233.5px;
    margin-left: 1px;
  }

  .code-codeItem1 input {
    margin-top: 6px;
    border: none;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
    width: 233.5px;
    margin-left: 1px;
  }

  .code-codeItem2 input {
    margin-top: 6px;
    border: none;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
    width: 233.5px;
    margin-left: 1px;
  }

  .code-yItem input {
    margin-top: 1px;
    border: none;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
    width: 186px;
  }

  .code-yItem1 input {
    margin-top: 6px;
    border: none;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
    width: 186px;
  }

  .code-yItem2 input {
    margin-top: 6px;
    border: none;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
    width: 186px;
  }

  .code-kItem input {
    margin-top: 1px;
    border: none;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
    width: 186px;
  }

  .code-kItem1 input {
    margin-top: 6px;
    border: none;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
    width: 186px;
  }

  .code-kItem2 input {
    margin-top: 6px;
    border: none;
    background-color: #D9D9D9;
    text-align: center;
    height: 40px;
    width: 186px;
  }
  
  /* --------------------------- Code Footer Button by MeanGPT ----------------------------------- */
  .save-button {
    background-color: #334756;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 16px;
    width: 120px;
    height: 45px;
    position: absolute;
    margin-left: 1380px;
    top: 635px;
    text-align: center;
    line-height: 30px;
    color: #ffff;
  }

  .save-button1 {
    border: none;
    color: white;
    background-color: #334756;
    font-size: 16px;
    width: 100px;
    height: 30px;
    cursor: pointer;
  }

  /* .save-button a {
    color: white;
    text-decoration: none;
  } */

  /* --------------------------- Code Select Box by MeanGPT ----------------------------------- */

  .combo-box {
    margin-top: 1px;
    width: 535px;
    height: 40px;
    border: none;
    text-align: center;
    background-color: #D9D9D9;
  }

  .combo-box1 {
    margin-top: 6px;
    width: 535px;
    height: 40px;
    border: none;
    text-align: center;
    background-color: #D9D9D9;
  }

  .combo-box2 {
    margin-top: 6px;
    width: 535px;
    height: 40px;
    border: none;
    text-align: center;
    background-color: #D9D9D9;
  }

  .combo-box option {
    padding: 5px;
    background-color: white;
  }

  .combo-box1 option {
    padding: 5px;
    background-color: white;
  }

  .combo-box2 option {
    padding: 5px;
    background-color: white;
  }