::-webkit-scrollbar {
    display: none; 
  }


.middle-box{
    width: 50%;
    height: auto;
    font-size: 4vh;
    background-color: transparent;
    backdrop-filter: blur(15px);
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.middle-box span{
    margin: 2vh;
    color: white;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.search-bar input{
    font-size: 2vh;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    border: 0px;
    margin: 10px;
}

.search-bar input:valid{
    width: 50vh;
    transition: .5s;
}

.search-bar input:focus{
    width: 100vh;
    transition: .5s;
}

.search-bar input:focus .middle-box{
    width: max-content;
    transition: .5s;
}

.search-bar button{
    font-size: 0.5em;
    width: auto;
    height: auto;
    border: 0px;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.search-bar button:hover{
    font-weight: bold;
}

.search-bar .icon{
    width: 4vh;
    height: auto;
}

.show-result-box{
    width: 80%;
    height: 75vh;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.middle-box.active span{
    display: none;
}

.middle-box.active{
    margin: 20px 0px;
    width: auto;
}

@media (max-width: 950px) {
    .middle-box{
        width: auto;
    }
    .search-bar input:valid{
        width: 50%;
        transition: .5s;
    }
    
    .search-bar input:focus{
        width: 100%;
        transition: .5s;
    }
}


.wat-box{
    width: 100%;
    height: 90%;
    overflow: auto;
    margin-bottom: 10px;
}

.wat{
    width: auto;
    height: 15vh;
    margin: 15px;
    border-radius: 10px;
    background-color: white;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination div{
    margin: 0px 20px;
    font-size: 2.5vh;
    color: white;
    width: 5vh;
    text-align: center;
}

.page-select{
    background-color:tomato;
    width: 5vh;
    border-radius: 10px;
}