header{
    width: 100%;
    height: 10vh;
}
.navbar{
    width: 100%;
    height: 10vh;
    font-size: 2.5vh;
    font-weight: bold;
    background-color: white;
    border-bottom: 5px solid orange;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 0px 1%;
}

.left-icon,.right-icon{
    width: 2.5vh;
    height: auto;
    margin: 0px 10px;
    color: orange;
    display:none;
}

.right-icon{
    display:block;
    transform: rotateZ(90deg);
    transition: .5s;
}

.topleft-navbar{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.topleft-navbar span{
    margin-left: 20px;
}

.menu-navbar{
    display: flex;
    margin: auto;
    width: auto;
}

.menu-navbar a{
    display: flex;
    margin: 0px 20px;
    font-size: 2vh;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.menu-navbar a:hover {
    border-bottom: 2px solid black;
}

.topright-navbar{
    position: relative;
    display: flex;
    align-items: center;
    float: right;
    padding: 10px;
}

.topright-navbar button{
    margin-right: 10px;
    font-size: 2vh;
    background-color: orange;
    width: 100%;
    height: 4vh;
    border-radius: 15px;
    border: 0px;
    justify-items: center;
    align-items: center;
}

.topright-navbar button:hover{
    font-weight: bold;
}

.topright-navbar .active .right-icon{
    transform: rotateZ(0deg);
    transition: .5s;
}



.right-menu{
    margin: 25px 0px;
    position: absolute;
    right: 0;
    width: max-content;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: white;
}

.left-menu{
    margin: 25px 10px ;
    position: absolute;
    left: 0;
    width: max-content;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px 12px;
}
  
li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.userprofile{
    height: 7vh;
    width: 7vh;
}

.logo{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    pointer-events: none;
}

.page-active{
    border-bottom: 2px solid orange;
}


@media only screen and (max-width: 1200px) {
    .navbar button{
        display: none;
      }

    .menu-navbar {
      display: none;
    }

    .left-icon{
        display: block;
    }
}