
.icon.plusHosts{
    width: 25px;
    height: 25px;
    background-color: #ffff;
}
.warpper {
    display: block;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh ;
    overflow: auto;
}
.heandcontantcreate {
    font-size: 18px;
    margin: 20px 35px;
    width: 93%;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
    
}

.heandpage {
    color: white;
    background-color: #334756;
    border-radius: 10px;
    width: 100%;
    min-width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heandpage.eventRequest {
    color: #0000;
    font-size: 18px;
    background-color: #9D9D9D;
}

.heandpage.eventRequest:hover {
    font-size: 20px;
    background-color: #F0A500;
}
.formNameEvent{
    width: 100%;
    height: 70px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
}
.heandpage.nameEvent {
    width: 100%;
    height: 70px;
    background-color: #ffff;
    border: none;
    color: black;
    font-size: 16px;
}

.selects#eventType {
    font-size: 16px;
    margin: 0;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: #D9D9D9;
    background-color: #334756;
    text-align: center;
}
#eventType:active,#eventType:focus,.nameEvent:active,.nameEvent:focus {
    outline: none;
}
/* #eventType:focus option:hover {
    background-color: #D9D9D9;
    color: #d90202;
    Replace with your desired background color 
} */
/* .eventRequestHistory {
    width: 100%;
    overflow: scroll;
    height: 83%;
} */

.plusHost{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dataEvent {
    background-color: white;
    margin: 0 35px 55px 35px ;
    padding: 30px;
    width: 93%;
    height: 90vh;
    border-radius: 10px;
    display: grid;
    grid-gap: 20px;
    overflow: auto;
}

.dataEvent input, 
.dataEvent textarea{
    padding: 0 15px;
    height: 50px;
    font-size: 14px;
    border: none ;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.dataEvent input:focus, 
.dataEvent textarea{
    padding: 10px 15px;
    height: 50px;
    outline: none;
}

.data {
    display: grid;
    grid-gap: 20px;
    /* justify-content: center; */
}

.data input {
    width: 300px auto;
    max-width: 500px;
}
span.more {
    color: #9D9D9D;
    font-size: 14px;
    padding: 0 10px;
}
.dateTimeData{
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    grid-template-rows: repeat(4, 1fr);;
    gap: 0 20px;
    padding: 0 0 0 20px;
}

.dateTimeData label{
    display: flex;
    align-items: center;
}

.data.tel{
    display: grid;
    grid-template-columns: 1.6fr 1.5fr 3fr;
    grid-template-rows: repeat(2f, 1fr);
    gap: 20px;
}
.item:first-child{
    grid-column: 1/4;
}
/* .data.place{
    display: grid;
    grid-template-columns: 1.6fr 1.5fr 3fr;
    grid-template-rows: repeat(2f, 1fr);
    gap:20px;
}

.selects#place {
    font-size: 16px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: #ffff;
    background-color: #334756;
} */
.placeOut{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2f, 1fr);
    gap: 20px;
}
#description{
    width: 100%;
    height: 150px;
}

.noEntertrainment{
    width: 24%;
    min-width: 200px;
    text-align: center;
}
.icon.entertrainment {
    width: 25px;
    height: 25px;
    background-color: #ffff;
}

::-webkit-scrollbar {
    display: none;
}
.entertrainments{
    display: flex;
}

.entertrainments input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.entertrainments label {
    display: flex;
    width: 50px;
    height: 25px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    padding: 6px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.entertrainments  label:hover {
    cursor: pointer;
}
/* #switch_left {
    background-color: #334756;
    color: #fff;
    box-shadow: none;
} */
.entertrainments  input:checked+label {
    background-color: #334756;
    color: #fff;
    box-shadow: none;
}

.entertrainments  label:first-of-type {
    border-radius: 10px 0 0 10px;
}

.entertrainments  label:last-of-type {
    border-radius: 0 10px 10px 0;
}

.selects {
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance:initial;
    appearance:none;
    text-align: center;
    min-width: 150px;
}

.selects option {
    color: #334756;
    background: #ffff;
}
select:hover {
    cursor: pointer;
}

.submitEventRequest{
    display: flex;
    justify-content: end;
}