.place-middle-box{
    width: 90%;
    height: 90%;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.place-top-middle-box{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 10px;
}

.place-top-middle-box .icon{
    float: right;
    width: 4vh;
    height: auto;
}

.place-top-middle-box .icon:hover{
    color: rgb(255, 180, 42);
}

.place-result-middle-box{
    width: auto;
    height: 75vh;
    background: rgba(255, 255, 255, 0.609);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    overflow:auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.infomation{
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    text-align: center;
    font-size: 2vh;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0px;
}

.place-result-middle-box .info-button{
    grid-area: 3/2;
    margin: auto;
    display: flex;
}

.place-result-middle-box button{
    width: max-content;
    margin: 10px;
}

.place-result-middle-box button:hover{
    font-weight: bold;
}


@media (max-width:1000px){
    .temple{
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
}