.place-middle-box{
    width: 90%;
    height: 90%;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.place-top-middle-box{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 10px;
}

.place-top-middle-box .icon{
    width: 4vh;
    height: auto;
}

.place-top-middle-box .icon:hover{
    color: rgb(255, 180, 42);
}

.place-word{
    color: white;
    width: auto;
    font-size: 2.5vh;
    margin-right: auto;
}

.place-result-middle-box{
    width: auto;
    height: 75vh;
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    overflow:auto;
}

.temple{
    display: flex;
    margin: 20px;
    height: 15vh;
    margin: 15px;
    background-color: rgb(255, 251, 251);
    align-items: center;
    border-radius: 20px;
    justify-content: center;
   
}
.temple img{
    width: 10vh;
    margin: 0px 20px;
    float: left;
}

.temple button{
    font-size: 2vh;
    background-color: orange;
    border: 0px;
    width: 12vh;
    height: 6vh;
    border-radius: 20px;
    margin: 0px 20px;
    float: right;
}

.temple button:hover{
    font-weight: bold;
}

.infomation{
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 2vh;
}

@media (max-width:1000px){
    .temple{
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
}