body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.icon{
  color: orange;
}

/* Import FontAwesome CSS */
@import "~@fortawesome/fontawesome-svg-core/styles.css";

@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun' , sans-serif;
}

header{
  width: 100%;
  height: 10vh;
}

main{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
    background-size: cover;
    height: 90vh;
}



/* footer div{
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  font-size: 1.5vh;
} */