.table-data.Creator {
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.requestEvent-item.thappr,

.requestEvent-item.dataapprov{
    grid-template-columns: 0.5fr 0.8fr 1.2fr 1fr 0.8fr 0.8fr;
}