.nav-bar{
    width: 100%;
    height: 90px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
    border-bottom: 5px solid orange;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 0px 10px;
}

.topright-navbar{
    position: relative;
    flex: right;
    display: flex;
    float: right;
    align-items: center;
    padding: 10px;
}

.topright-navbar button{
    margin-right: 20px;
    font-size: 0.9em;
    background-color: orange;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: 0px;
    justify-items: center;
    align-items: center;
}

.topright-navbar button:hover{
    font-weight: bold;
}

.topleft-navbar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
}


.topleft-navbar span{
    margin-left: 20px;
}

.userprofile{
    height: 75px;
    width: 75px;
}

.logo{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    pointer-events: none;
}

.page-active{
    border-bottom: 2px solid orange;
}

.menu-navbar{
    display: flex;
    margin: auto;
    width: auto;
}

.menu-navbar a{
    display: flex;
    margin: 0px 20px;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.menu-navbar a:hover {
    border-bottom: 2px solid black;
}

  @media (max-width: 1200px) {
    .nav-bar{
        font-size: 1.2em;
    }
  }