.navbar{
    width: 100%;
    height: 10vh;
    background-color: white;
    border-bottom: 5px solid #F0A500;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 0px 1%;
}

.left-icon,.right-icon{
    width: 3vh;
    height: auto;
    margin: 0px 25px;
    color: #F0A500;
    display:none;
}

.right-icon{
    width: 1vh;
    display:block;
    transform: rotateZ(90deg);
    transition: .5s;
}

.topleft-navbar {
    font-size: 3vh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 20%;
}
.topleft-navbar a {
   width: 100%;
   height: 100%;
}
.topleft-navbar a span{
    margin-left: 20px;
    font-weight: bold;
}


.left-menu a.active li, .right-menu a.active li{
    background-color: #F0A500;
    color: white;
}

.topright-navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    width: 20%;
}

.topright-navbar button{
    display: flex;
    font-size: 2vh;
    background-color: #F0A500;
    width: 35px;
    height: 4vh;
    border-radius: 15px;
    border: 0px;
    justify-items: center;
    align-items: center;
    padding: 10px
}


.topright-navbar button:hover{
    font-weight: bold;
}


.topright-navbar .active .right-icon{
    transform: rotateZ(0deg);
    transition: .5s;
}

.right-menu ul ,.left-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.right-menu li ,.left-menu li{
    padding: 8px 12px;
}
  
.right-menu li:hover ,.left-menu li:hover{
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.right-menu{
    position: absolute;
    right: 0;
    width: max-content;
    font-size: 2vh;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: white;
    display: flex;
    text-align: center;
}

.left-menu{
    position: absolute;
    width: max-content;
    font-size: 2vh;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.userprofile{
    height: 7vh;
    width: 7vh;
    margin-left: 20px;
    border-radius: 50%;
}

.logo{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    pointer-events: none;
}


@media only screen and (max-width: 1000px) {
    .navbar button{
        display: none;
    }
    .topleft-navbar{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menu-navbar {
      display: none;
    }

    .left-icon{
        display: block;
    }
}